.aboutWrapperBg {
  width: 100%;
}
.aboutUsMainInformation {
  padding: 5px 15px;
}

.aboutUsCompanyInfo {
  margin: 10px 0;
}
.aboutUsCompanyInfoTitle {
  font-size: 1.5em;
  margin: 5px 0;
}
.aboutUsCompanyInfoText {
  padding: 0 0 0 30px;
  font-size: 1.2em;
  line-height: 25px;
}

.aboutUsSection {
  padding: 5px 15px;
}
.whatWeDoTitle {
  font-size: 1.5em;
}
.whatWeDoSubtitle {
  font-size: 1.3em;
  margin: 5px 0 0 30px;
}
.aboutUsListWWD {
  margin: 10px 0 0 50px;
  list-style-type: none;
}
.aboutUsListWWD li {
  font-size: 1.2em;
  line-height: 25px;
}

.aboutQualityNote {
  font-size: 1.2em;
  margin: 15px 5px;
}
