.footerWrapper {
  width: 100%;
  padding: 10px;
  border-top: 0.7px solid gray;
}
.footerMainLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerMainLogoImg {
  width: 17%;
}

.footerContacts {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerContactItem {
  margin: 0 0 0 15px;
  color: black;
  transition: all 0.15s ease-in-out;
}
.footerContactItem:hover {
  text-decoration: underline;
  color: #838383;
}
.footerContactImg {
  width: 50px;
  border-radius: 10px;
  transition: all 0.15s ease-in-out;
}
.footerContactImg:hover {
  box-shadow: 0px 0px 7px #9a9a9a;
}
.footerEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerSubscribe {
  margin: 20px;
  border: 0.4px solid grey;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.footerSubscribeSendIcon {
  width: 20px;
}
.footerSubscribeSendIcon:hover {
  cursor: default;
}
.footerLogoDescription {
  width: 60%;
}
.footerSubscribeInput {
  margin-right: 5px;
  min-width: 250px;
  height: 30px;
  border: none;
  padding: 2px 2px 0 2px;
  font-size: 15px;
}
.footerSubscribeInput:hover {
  cursor: pointer;
}
.footerLogoNav {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 0;
}
.footerLogoNavLink {
  color: black;
  font-size: 16px;
  text-decoration: underline;
  padding: 5px 5px;
  border-radius: 5px;
  text-align: right;
}
.footerLogoNavLinkActive {
  background-color: #656565;
  font-size: 16px;
  padding: 5px 5px;
  border-radius: 5px;
  text-align: right;
  color: #fff;
}

.footerLogoNavLink:hover {
  background-color: #9a9a9a;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .footerMainLogo {
    flex-direction: column;
  }
  .footerMainLogoImg {
    width: 80%;
  }
  .footerLogoDescription {
    width: 90%;
    text-align: center;
    margin: 0 0 25px 0;
  }
  .footerLogoNavLink {
    margin: 5px 0;
    text-align: center;
  }
  .footerLogoNavLinkActive {
    text-align: center;
  }

  .footerMainInfo {
    display: flex;
    flex-direction: column;
  }
  .footerContacts {
    flex-direction: column;
  }
  .footerContactsSocial {
    margin: 15px 0 0;
  }
  .footerTitle {
    font-size: 2rem;
  }
  .footerContactItem {
    margin: 15px 0 0;
  }
  .footerContactImg {
    margin: 0 15px;
  }
}
