.footerWrapper {
  width: 100%;
  padding: 10px;
  border-top: 0.7px solid gray;
}
.footerMainLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerMainLogoImg {
  width: 17%;
}

.footerContacts {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerContactItem {
  margin: 0 0 0 15px;
  color: black;
}
.footerContactImg {
  width: 50px;
}
.footerEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerSubscribe {
  margin: 20px;
  border: 0.4px solid grey;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.footerSubscribeSendIcon {
  width: 20px;
}
.footerLogoDescription {
  width: 60%;
}
.footerSubscribeInput {
  min-width: 250px;
  border: none;
}
.footerLogoNav {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 0;
}
.footerLogoNavLink {
  color: black;
  font-size: 16px;
  text-decoration: underline;
  padding: 5px 5px;
  border-radius: 5px;
  text-align: right;
}
.footerLogoNavLinkActive {
  background-color: #656565;
  font-size: 16px;
  padding: 5px 5px;
  border-radius: 5px;
  text-align: right;
  color: #fff;
}

.footerLogoNavLink:hover {
  background-color: #9a9a9a;
  color: #fff;
}
