.homeWrapper {
  width: 100%;
  max-width: 1280px;
}
.homeHero {
  background-image: url("./../assets/imagesData/constructions1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50vh;
  padding: 100px 0 0 35px;
}
.heroHeaderTitle {
  color: black;
  background-color: #fff;
  border-radius: 7px;
  font-weight: 500;
  font-size: 2em;
  padding: 10px 5px;
  width: 40%;
  text-align: center;
}
.heroHeaderBtns {
  display: flex;
  max-width: 40%;
  margin: 15px 0;
}
.heroContactUsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  padding: 5px;
  color: #000000;
  border-radius: 7px;
  font-size: 1.5em;
  background-color: #f1f1f1;
}

.heroContactUsBtn:nth-child(2) {
  margin: 0 0 0 15px;
}

.heroContactUsBtn:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
  background-color: #bdbcbc;
}
.homeHeroAbout {
  margin: 35px 25px;
}
.homeHeroAboutTitle {
  font-size: 2em;
  font-weight: 500;
}
.homeHeroAboutSubtitle {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 23px;
  margin: 5px 0 0 0;
}
.offerItemImg {
  width: 100px;
}

.homeHeroAdvantages {
  margin: 5px 25px 15px;
}
.homeHeroAdvantagesText {
  font-size: 1.2em;
  font-weight: 300;
}
.categoryCardsWrapper {
  display: flex;
  width: 100%;
  margin: 0;

  align-items: center;
  justify-content: center;
}
.homeHeroStepsWrapper {
  display: flex;
  flex-direction: column;
}
.homeHeroStepsWrapperTitle {
  padding: 30px 0 15px 30px;
  font-weight: 600;
}

.homeHeroSteps {
  padding: 0 25px;
}
.homeHeroStepsItem {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.homeHeroStepsTitle {
  font-size: 1.5rem;
}
.homeHeroStepsSubtitle {
  padding: 15px 5px 0;
  font-size: 18px;
}
.homeHeroStepImg {
  max-width: 50%;
  border-radius: 50px;
  border: 1px solid gray;
  padding: 6px;
}

.homeContactForm {
  text-align: center;
  margin: 20px 0 20px 0;
}
.homeContactFormSummary {
  text-align: center;
  padding: 0 100px;
}
@media screen and (max-width: 885px) {
  .homeHero {
    width: 100%;
  }
  .categoryCardsWrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .heroHeaderTitle {
    width: 70%;
  }
  .heroHeaderBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: self-start;
  }
  .heroContactUsBtn {
    min-width: calc(100% * 1.74);
    width: 100%;
    margin: 0;
  }
  .heroContactUsBtn:nth-child(2) {
    margin: 15px 0 0 0;
  }
  .homeContactFormSummary {
    padding: 0 15px;
  }
}
@media screen and (max-width: 425px) {
  .homeHero {
    padding: 50px 20px;
  }
}
