.homeWrapper {
  width: 100%;
  padding: 10px;
}
.homeHero {
  position: relative;
}
.heroHeader {
  width: 100%;
}
.heroHeaderImg {
  width: 100%;
  top: 100px;
}

.heroOfferItem {
  border: 1px solid grey;
  border-radius: 7px;
  padding: 15px;
  margin: 0 10px;
  width: 100%;
  text-align: center;
}
.heroOfferItem:hover {
  border: 1px solid red;
  cursor: pointer;
}
.homeHeroOfferItems {
  display: flex;
}

.offerItemImg {
  width: 100px;
}
