.imageSliderWrapper {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.imageSlider {
  padding: 50px 0;
  width: 70%;
  margin: 0 auto;
}
.imageSliderItems {
  display: flex;
  overflow: hidden;
}
.sliderItemImg {
  height: 500px;
  border-radius: 7px;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  box-shadow: -3px 3px 5px darkgray;
  margin: 10px;
}

.imageSliderArrows {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  width: 100%;
}
.sliderItemImg.active {
  opacity: 1;
}
.sliderItemImg.inactive {
  z-index: 0;
  opacity: 0.3;
}

.sliderArrowBtnLeft {
  rotate: 180deg;
  width: 45px;
}
.sliderArrowBtnRight {
  width: 45px;
}

.imageSliderPagination {
  display: flex;
  width: 100%;
  overflow: scroll;
  margin: 0 15px;
}
.imageSliderPagination:hover {
}
.imageSliderPagination.active {
  opacity: 1;
}
.imageSliderPagination.inactive {
}

.imageSliderControllerDot {
  width: 50px;
  height: 50px;
  border-radius: 7px;
  margin: 0 5px;
  cursor: pointer;
}
.imageSliderControllerDot.active {
  background-color: gray;
}
.imageSliderControllerDot.inactive {
}
.imageSliderControllerDot:hover {
  border: 1px solid black;
  cursor: pointer;
}
