.imageSliderWrapper {
  padding: 15px;
}
.imageSliderItems {
  display: flex;
  overflow: scroll;
}
.imageSlider {
  width: 100%;
}

.sliderItemImg {
  height: 500px;
}
.imageSliderArrows {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageSliderArrows img {
  width: 50px;
  border-radius: 30px;
}

.sliderArrowBtnLeft {
  rotate: 180deg;
}

.imageSliderPagination {
}

.imageSliderControllerDot {
  width: 85px;
  height: 35px;
  margin: 0 5px;
  border-radius: 100%;
  background-color: black;
}
.imageSliderControllerDot:hover {
  border: 0.3px solid red;
}
