.navbarWrapper {
  border-right: 1px solid grey;
  width: 225px;
  height: 100%;
  padding-top: 50px;
}
.navbarLogo {
  width: 100%;
}
.navbarLogoImg {
  width: 100%;
}
.navbarLinks {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.navbarLinkItem {
  background-color: #fff;
  color: black;
  display: flex;
  align-items: center;
  padding: 15px 10px;
}
.navbarLinkItem:hover {
  color: #fff;
  background-color: rgba(174, 174, 174, 0.348);
}
.navbarLinkImg {
  width: 20px;
  margin: 0 10px 0 0;
}
.navbarFirmLinks {
  margin: 25px 0 0;
  text-align: center;
}

.navbarLanguage {
  width: 100%;
  text-align: center;
}
.languageImg {
  width: 20%;
}
