.totalsBlockWrapper {
  display: flex;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  justify-content: space-around;
  padding: 15px 0 10px;
  margin: 30px 0;
}
.totalsBlockItem {
  width: 100%;
  text-align: center;
  border-radius: 7px;
  margin: 0 5px;
  padding: 10px 0;
}
.totalsBlockItem:hover {
  background-color: rgba(226, 226, 226, 0.588);
  cursor: pointer;
}

.totalBlockItemImg {
  width: 30%;
}
.totalsBlockItemNumber {
  font-weight: 700;
  font-size: 30px;
  color: rgb(245, 166, 20);
}

@media screen and (max-width: 765px) {
  .totalsBlockWrapper {
    flex-direction: column;
  }
  .totalBlockItemImg {
    width: 20%;
  }
}
